/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */

.eltdf-blog-list-holder {
	@include eltdfRelativeHolderLayout();
	clear: both;
	
	.eltdf-blog-list {
		@include eltdfRelativeHolderLayout();
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.eltdf-bl-item {
		@include eltdfRelativeHolderLayout();
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	.eltdf-bli-inner {
		@include eltdfRelativeHolderLayout();
	}
	
	.eltdf-bli-content {
		@include eltdfRelativeHolderLayout();
		box-sizing: border-box;
	}
	
	.eltdf-post-image {
		@include eltdfRelativeHolderLayout();
		margin: 0 0 21px;
		overflow: hidden;
		border-radius: 4px;

		img, a {
			display: block;
			border-radius: 4px;
		}

		a {
			@include eltdfTransform(scale(1));
			@include eltdfTransition(transform .3s cubic-bezier(0.34, 0.52, 0.57, 1.04));

			&:hover {
				@include eltdfTransform(scale(1.05));
			}

			&:after {
				content: none;
			}
		}
	}
	
	.eltdf-post-title {
		margin: 0;
	}
	
	.eltdf-bli-info {
		
		> div {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
			font-family: $default-heading-font-m;
			font-size: 14px;
			color: #b9b9b9;
			
			&:last-child {
				margin-right: 0;
			}
			
			&.eltdf-post-info-category {
				
				a {
					
					&:before {
						content: "\e07b";
						font-family: 'ElegantIcons';
						font-size: 12px;
						margin-right: 3px;
					}
				}
			}
			
			&.eltdf-blog-like {
				
				i {
					margin-right: 4px;
				}
			}
			
			a {
				color: inherit;
				
				&:hover {
					color: $first-main-color;
				}
			}
			
			i {
				font-size: 12px;
			}
		}
	}
	
	.eltdf-bli-info-bottom {
		padding-top: 16px;
		margin-top: 26px;
		border-top: 1px solid $default-border-color;
	}
	
	.eltdf-post-info-author-link {
		color: #b9b9b9;
		font-family: $default-heading-font-m;
		font-size: 14px;
		line-height: 1;
		
		&:hover {
			color: $default-heading-color;
		}
		
		> * {
			position: relative;
			display: inline-block;
			vertical-align: top;
			line-height: 30px;
		}
		
		img {
			margin-right: 11px;
			border-radius: 100%;
		}
	}
	
	.eltdf-post-excerpt {
		@include eltdfRelativeHolderLayout();
		margin: 19px 0 0;
		
		p {
			margin: 0;
		}
	}
}
/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */