/* ==========================================================================
   Top header style - begin
   ========================================================================== */

.eltdf-top-bar {
	@include eltdfRelativeHolderLayout();
	height: 45px;
	font-family: $default-heading-font-m;
	font-size: 11px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: $default-heading-color;
	background-color: #fff;
	border-bottom: 1px solid $default-border-color;
	z-index: 111;
	box-sizing: border-box;
	
	.eltdf-cover-search-opened & {
		z-index: 110;
	}
	
	> .eltdf-vertical-align-containers {
		padding: 0 40px;
	}
	
	.eltdf-grid {
		height: 100%;
		
		.eltdf-vertical-align-containers {
			padding-left: 0;
			padding-right: 0;
			
			.eltdf-top-bar-in-grid-padding & {
				padding: 0 40px;
			}
		}
	}
}
/* ==========================================================================
   Top header style - end
   ========================================================================== */