/* ==========================================================================
   Footer style - begin
   ========================================================================== */

.eltdf-page-footer {
	@include eltdfRelativeHolderLayout();
	z-index: 100;
	box-sizing: border-box;
	
	&.eltdf-has-both-footer {
		
		.eltdf-footer-bottom-holder {
			
			.eltdf-footer-bottom-inner {
				border-top: 1px solid rgba(#484848, .8);
			}
		}
	}
	
	.eltdf-footer-top-holder {
		@include eltdfRelativeHolderLayout();
		background-color: #232936;
		box-sizing: border-box;
		
		.eltdf-footer-top-alignment-center {
			text-align: center;
		}
		
		.eltdf-footer-top-alignment-left {
			text-align: left;
		}
		
		.eltdf-footer-top-alignment-right {
			text-align: right;
		}
		
		.eltdf-footer-top-inner {
			box-sizing: border-box;
			
			&.eltdf-grid {
				padding: 118px 0;
			}
			
			&.eltdf-full-width {
				padding: 118px 50px 118px;
			}
		}
	}
	
	.eltdf-footer-bottom-holder {
		@include eltdfRelativeHolderLayout();
		background-color: #232936;
		box-sizing: border-box;
		
		.eltdf-footer-bottom-inner {
			box-sizing: border-box;
			
			&.eltdf-grid {
				padding: 23px 0 24px;
			}
			
			&.eltdf-full-width {
				padding: 23px 38px 24px;
			}
		}
		
		.eltdf-grid-col-6 {
			
			&:last-child {
				text-align: right;
			}
			
			@media only screen and (min-width: $ipad-portrait-plus-pixel) {
				width: 50%;
				float: left;
			}
		}
	}
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */